.dot{
    height: 1em;
    width: 1em;

    margin: 0.1em;
    border-radius: 50%;
    cursor: pointer;

    border: 1px white solid;
    outline: none;

    transition: background 0.2s;
    background: none;
}

.dotActive{
    background: white;
}

.dot:hover{
    background: white;
}