.appWrapper {
    width: 100%;
    height: 100%;
}

.half{
    width: 100%;
    height: 50%;
}

.textCenter{
    position: absolute;
    text-align: center;

    color: #0d1b1b;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}