.slider{
    display: grid;
    position: relative;
    width: 100%;
    height: 100%;
    scroll-behavior: unset;

    grid-template-areas:
    "left middle right"
    "left dots   right"
    "left bottom right";

    grid-template-rows: 1fr 2em 1em;
    grid-template-columns: 15% 70% 15%;

    overflow: hidden;
}