.button {
    border: none;
    outline: none;
    cursor: pointer;

    background: rgba(0, 0, 0, 0);
    transition: 0.3s;
    z-index: 2;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.button>img{
    transition: transform 0.3s;
    opacity: 1;

    max-width: 100px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.button:hover>img{
    transform: scale(1.1);
}