.slide {
    min-width: 100%;
    height: 100%;

    overflow: hidden;
}

.slide>*{
    height: 100%;
    width: 100%;
}

.slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide *{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}