.dots{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: dots;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    z-index: 1;
}